/* =========================
   1. ROOT (Colors & Fonts)
========================= */
:root {
  --primary-color: #111111;
  --secondary-color: #666666;
  --accent-color: #c9a96e; /* soft gold */
  /*--background-color: #ffffff;*/

  --font-heading: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

.parent {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
        

}

.content-wrapper {
    display:flex;
    margin: 0 auto;
    overflow:auto;
    /* max-width:1800; */
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

}

body {
    background-color:cornflowerblue;
}

.top-section {
    display:flex;
    padding: 20px 0;
    width:1200px;
    text-align:center;
    border: 4px solid black;
    overflow:auto;
    box-sizing:border-box;

}

.top-section img {
    width: 100%;
    height:200px;
    object-fit:cover;
    
}

header h1 {
    /*background-color: green;*/
    float:left;
    width:300px;
    font-style: italic;
}

header nav {
    float:right;
    width:300px
    
}

header nav ul li {
     display:inline-block; 
}


img {
    display:flex;
    float:left;
    width: 200px;
    height: 200px;
    /* object-fit:fill; */
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#parent-div {
    overflow:auto;
    gap: 50px;
    /*justify-content: space-between;*/
    
}
  
.one {
    /*background: #2a575a;*/
    width:200px;
    float:left;
    padding:30px 30px;
    justify-content: space-around;
}

.two {
    /*background:#c42311;*/
    width:200px;
    float:left;
    padding:30px 30px;
}

.three {
    width:200px;
    float:left;
    padding:30px 30px;

}

.About {
    float:left;
    padding:30px 30px;
    clear: both;
}

footer {
    text-align:center;
    
}
